.signup-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 90%;
  max-width: 1110px;
  margin: auto;
}

@media screen and (min-width: 992px) {
  .signup-form-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

.signup-website-logo-mobile-img {
  width: 250px;
  margin-top: 50px;
  margin-bottom: 35px;
}

@media screen and (min-width: 992px) {
  .signup-website-logo-mobile-img {
    display: none;
  }
}

.signup-img {
  width: 278px;
}

@media screen and (min-width: 992px) {
  .signup-img {
    width: 60%;
    max-width: 524px;
    flex-shrink: 1;
    margin-right: 20px;
  }
}

.signup-website-logo-desktop-img {
  width: 250px;
}

@media screen and (max-width: 991px) {
  .signup-website-logo-desktop-img {
    display: none;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 350px;
  border: 1px solid rgb(115, 160, 245);

}

@media screen and (min-width: 992px) {
  .form-container {
    width: 350px;
    flex-shrink: 0;
    box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
    padding: 64px 48px 64px 48px;
  }
}

.signup-button {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  height: 40px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 2px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  outline: none;
}

@media screen and (min-width: 992px) {
  .signup-button {
    width: 90%;
  }
}